.info {
    font-size: 2rem;

    &__anim {
        animation-name: my;
        animation-duration: 1s;
    }

    &__name {

    }

    @keyframes my {
        // 0% {font-size: 2rem;}
        // 50% {font-size: 4rem;}
        // 100% {font-size: 3rem;}
    }
}