.app {
    padding: 3rem 3rem;
    display: grid;
    grid-template-columns: [col-1] 30% [col-2] 1fr [col-3] 20% [col-4];
    grid-template-rows: [row-1] auto [row-2] auto [row-3] auto [row-4] auto [row-5];
    grid-template-areas:
        "info        main charts-extra"
        "charts-main main charts-extra"
        ".           main ."
        ".           main ."
        ".           main ."
        ".           main .";
    gap: 2rem;

    @media screen and (max-width: 800px) {
        padding: 0 0 3rem 0;
    }

    & > *:not(.app__info) {
        @media screen and (max-width: 800px) {
            margin: 0 3rem;
        }
    }

    & > * {
        padding: 2rem;
        background-color: rgb(245, 239, 239);
        box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
    }

    &__content {
        grid-area: main;

        @media screen and (max-width: 1200px) {
            grid-column-start: col-2;
            grid-column-end: col-4;
            grid-row-start: row-1;
            grid-row-end: row-2;
        }

        @media screen and (max-width: 800px) {
            grid-column-start: col-1;
            grid-column-end: col-4;
            grid-row-start: row-2;
            grid-row-end: row-3;
        }
    }


    &__info {
        grid-area: info;

        @media screen and (max-width: 800px) {
            position: sticky;
            margin-top: 0;
            top: 0;
            grid-column-start: col-1;
            grid-column-end: col-4;
            grid-row-start: row-1;
            grid-row-end: row-2;
        }
    }

    &__charts-main {
        grid-area: charts-main;

        @media screen and (max-width: 800px) {
            grid-column-start: col-1;
            grid-column-end: col-4;
            grid-row-start: row-3;
            grid-row-end: row-4;
        }
    }

    &__charts-extra {
        grid-area: charts-extra;

        @media screen and (max-width: 1200px) {
            grid-column-start: col-2;
            grid-column-end: col-4;
            grid-row-start: row-2;
            grid-row-end: row-3;
        }

        @media screen and (max-width: 800px) {
            grid-column-start: col-1;
            grid-column-end: col-4;
            grid-row-start: row-4;
            grid-row-end: row-5;
        }
    }
}