.charts-main {
    &__header {
        font-size: 2rem;
        text-align: center;
    }

    &__footer {
        font-size: 1rem;
    }

    rect:hover {
        fill: rgba(58, 53, 53, 0.322);
        cursor: pointer;
    }
}